@font-face {
    font-family: 'Dome';
    src: url('../assets/TROUBLEBENEATHTHEDOME.ttf');
}

@font-face {
    font-family: 'Splatfont';
    src: url('../assets/SPLATFONT2.ttf');
}

body{
    background-color: rgb(147, 183, 203);
}

.container-fluid{
    
    background-color: rgb(59, 100, 122);
}

.navbar-brand{
    font-family: 'Dome';
    color: white;
    font-size: 60px;
}

.nav-link{
    font-family: 'Dome';
    color: aliceblue;
    font-size: 40px;
    
}

.active{
    color: black;
}
.title{
    background-color: rgb(59, 134, 148);
    font-size: 160%;
    text-align: center;
    color: rgb(179, 250, 255);
}

.blue-div-left {
    background-color:rgb(59, 67, 71);
    width: auto;
    height: 900px;
    padding: 10px;
    margin: 20px;
    margin-right: 30%;

    font-family: 'Splatfont';
    font-size: 48px;
    color: white;
    
}

.blue-div-right {
    background-color:rgb(59, 67, 71);
    width: auto;
    height: 900px;
    padding: 10px;
    margin: 20px;
    margin-left: 36%;

    font-family: 'Splatfont';
    font-size: 48px;
    color: white;
    
}

.icon{
    margin: 4px;
    max-width:60px;
    height: auto;
}

.photo-right{
    width: auto;
    height: 900px;
    margin-right: 28px;
}

.photo-left{
    width: auto;
    height: 900px;
    margin-left: 28px;
}
